<style>
    .container {
        width: 900px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    span, strong {
        margin: 10px;
    }

</style>

<div class="container">

    <span>Olá, {{name_user}}</span>

    <span>Sua mentoria que estava marcada para o dia {{mentoringDate}} às {{mentoringTime}} horas com o {{name_mentor}} infelizmente foi cancelada.</span>

    <span>Motivo do cancelamento: {{refused_info}}</span>

    <span>Encorajamos que você procure outro mentor em nossa plataforma, ou remarque uma outra data com o mentor.</span>

    <strong>Equipe | Mentoring</strong>

</div>